*{
    padding: 0;
    margin: 0;
    font-family: "HarmonyOS Sans sc";
}
body{
    overflow-x: hidden;
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}
input,button{
    outline: none;
    border: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid #e6e5e5;
}
.head{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 200px;
    height: 80px;
    /* 显示 */
    color: white;
    line-height: 80px;
    text-align: center;
    background-color: black;
    font-size: 50px;
}
.head p{
    font-size: 30px;
    font-weight: bold;
}
footer{
    width: 100%;
    height: 180px;
    padding: 20px;
    background-color: black;
    margin-top: 80px;
}
.foot{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.white_logo{
    width: 200px;
    height: 100px;
    background-color: white;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    letter-spacing: .2em;
    font-weight: 900;
}
.end_massage{
    color: white;
    font-size: 26px;
    letter-spacing: .2em;
    font-weight: 500;
}
.end_massage p{
    margin-top: 20px;
}
.search input{
    width: 460px;
    border: 1px solid #565656;
    background-color: #faf8f8;
    height: 50px;
    padding-left: 60px;
    padding-right: 20px;
    background: url(../images/搜索.png) no-repeat;
    background-size: 40px;
    background-position: 10px;
    font-size: 23px;
}
.item_head{
    font-size: 24px;
    transition: .3s ease;
    color: #7f7f7f;
}
.item_head:hover{
    color: black;
    text-shadow: 1px 1px  rgb(67, 67, 67);
}
#login{
    display: inline-block;
    width: 32PX;
    height: 32PX;
    padding: 10px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    background-color: #eeeeee;
    color: #565656;
    transition: .3s ease;
}
#login:hover{
    background-color: #7a7a7a;
    color: #d9d9d9;
}
.nav{
    width: 100%;
    height: auto;
    border-bottom:1px solid #7f7f7f;
    margin-top: 40px;
}
.navbar{
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
}
.navbar li:nth-child(1){
    width: 140px !important;
    height: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
    font-size: 40px !important;
}
.nav li{
    margin-right: 20px;
    width: 200px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    height: 50px;
    line-height: 50px;
    
}
.nav li a{color: black;}
.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.Hot_item,.public_item{
    width: 46%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
}
.title{
    font-size: 26px;
    letter-spacing: .2em;
    font-weight: 500;
}
.img_box{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
}
.img_box img{
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.shenglue{
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.center_box{
    width: 1200px;
    height: auto;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: start;
}
.left_box{
    width: 225px ;
    height: auto ;
    display: flex;
    flex-flow: column;
    font-size: 40px ;
}
.left_box a{
    padding-left: 28px;
    margin-bottom: 20px;
    color: black;
}
.right_box{
    width: 950px;
    height: auto;
}
.Hot_item_p{
    font-size: 30px;
}
.right_box_btm{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_box_btm img{
    width: 44%;
    height: auto;
}
.right_box_btm div{
    width: 42%;
    height: 275px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border: 2px solid #aeaeae;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.right_box_btm div p{
    font-size: 26px;
    letter-spacing: .3em;
}
.right_box_btm div span{
    font-size: 18px;
}